body
{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;;


}

#container
{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 30px 50px;
}

#container>.fas
{
    color: #cacaca;
    cursor: pointer;
}

#container>.sternAktiv
{
    color: rgb(180, 33, 33);
}

.sterneGelickt
{
    color:  rgb(180, 33, 33);

}




