body
{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;;


}

#container
{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 30px 50px;
    margin-bottom: 15px;
}

#container>.fas
{
    color: #cacaca;
    cursor: pointer;
}

#container>.sternAktiv,#container>.sternGeklickt
{
    color: rgb(180, 33, 33);
}

#senden
{
    width: ;
    background-color: chocolate;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 0.7em;
    cursor: pointer;;
}




